body {
  background-color: #121212;
  color: #fff;
  font-family: "Inter-variable", Arial, Helvetica, sans-serif;
  margin: 3rem;
}

@font-face {
  font-family: "Inter-variable";
  src: url(/assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

.contain {
  background-color: #1e1e1e;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  max-width: 300px;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

img {
  width: 30%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 15px;
  object-fit: cover;
}

.name {
  font-size: 20px;
  margin: 10px 0 5px;
  font-weight: 600;
}

.location {
  color: #a4ff00;
  font-size: 14px;
  font-weight: 600;
  margin: 5px 0 20px;
}

.title {
  color: #a4ff00;
  font-size: 14px;
  font-weight: 600;
  margin-top: -10px;
}

.email {
  color: #a4ff00;
  font-size: 14px;
  font-weight: 600;
  margin-top: -10px;
  text-decoration: none;
  cursor: pointer;
}

.email:hover {
  text-decoration: underline;
}

.qualities {
  font-size: 14px;
  color: #b3b3b3;
}

.contain .button {
  display: block;
  background-color: #333;
  color: #ffffff;
  padding: 10px 0;
  margin: 10px auto;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.contain .button:hover {
  background-color: #a4ff00;
  color: black;
}

.utc-time {
  font-weight: bold;
  margin-top: 10px;
  font-size: 14px;
  color: #b3b3b3;
}

@media (max-width: 768px) {
  body {
    margin-left: 1.65rem;
    margin-right: 1.65rem;
  }

  .contain .button {
    padding: 20px 0;
    margin: 20px 0;
    font-size: 20px;
  }
}
